<!--The content below is only a placeholder and can be replaced.-->
        <h1>
            Welcome!
        </h1>
        <!-- <img width="300" alt="Angular Logo" src="../../assets/img/fb.png"> -->
        <div class="social-con">
            <img  alt="Angular Logo" src="../../assets/img/twitter.png">
        </div>
        <div class="social-con">
            <img alt="Angular Logo" src="../../assets/img/fb.png">
        </div>
        <div class="social-con">
            <img alt="Angular Logo" src="../../assets/img/in.png">
        </div>
        <span class="labl1">New user?</span>
        <span class="labl1 labl1-bg">Email Address</span>
        <span class="labl1 labl1-bg">Password</span>
        <div class="login-but" routerLink="/selection">Sign up/ Log in</div>