/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
h2 { color: #444; font-weight: lighter; }
body { margin: 2em; }
body, input[text], button { color: rgba(206, 204, 204, 0.87); font-family: Cambria, Georgia; }
button { padding: 0.2em; font-size: 14px}
* { font-family: Arial; }

.device {
  max-width: 320px;
    margin: 0 auto;
    background: #fff;
    width: 100%;
    border: 1px solid;
    border-radius: 50px;
    min-height: 520px;
    margin-top: 5%;
    position: relative;
}
.device-screen {
    width: 100%;
    margin: 0 auto;
    padding: 0%;
    max-width: 251px;
    border: 2px solid;
    height: 432px;
    background: #282828;
        margin-top: 12%;
}
.home-but
{
  text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #000;
}
.head-bar {
    width: 100%;
    float: left;
    background: #524f4fd9;
    margin-bottom: 3%;
    padding: 3px 0px 3px 0px;
    font-size: 12px;
}
h3 {
    font-size: 11px;
    text-align: center;
    padding: 6px;
    background: #4b4949;
    margin-top: 9%;
}

/*start and end buttons*/
text {
    font-size: 11px;
    font-weight: bold;
}  
.init-buttons {
    width: 79%;
    margin: 0 auto;
    clear: both;
} 
hr.long-hr {
    width: 100%!important;
    margin: 0% 0% 3% 0%;
}
svg.round-button {
    cursor: pointer;
}